Operations on Lists
• Arithmetic
• Membership
• Loop

In [3]:
L1 =  [1,2,3,4,5]
L2 =  [6,7,8,9,10]

In [4]:
L1 + L2 # Concatenation

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
L1 * 3  # Repetition

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
# Membership
L1 = [1,2,3,4,5]
L2 = [6,7,8,9,10[11,12,13]]
5 in L1