# Tuples
A tuple in Python is Similar to a list. The difference between the two is that we cannot Change the elements Of a tuple once it is assigned whereas we can change the
elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics:
-  Ordered
- Unchangeble
-  Allows duplicate

## Topic to be discussed

- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

# Creating Tuples

In [ ]:
l = [] #list
t = () #tuple

In [1]:
# empty tuple
t1 = ()
print(t1)
print(type(t1))

()
<class 'tuple'>

In [ ]:
t2 = ("Abdullah",) #comma is necessary for single element tuple
print(t2)
print(type(t2))

Abdullah
<class 'str'>

In [ ]:
# homo
t3 = (1, 2, 3, 4, 5)
print(t3)

# hetero
t4 = (1,2,3 "Hello", 3.4, True[1,2,3])
print(t4)

# nested tuple
t5 = (1,2, ("Hello", "World"), (3.4, 5.6))
print(t5)

#using type conversion function
t6 = tuple([1,2,3,4,5])
print(t6)

# Accessing Items
- Indexing
- Slicing

In [4]:
t3 = (1,2,3,4)

In [5]:
t3[0]

1

In [6]:
t3[-2]

3

In [7]:
t3[0:3]

(1, 2, 3)

In [9]:
t3[::2]

(1, 3)

## Editing items / Deleting items

In [ ]:
t3 =(1,2,3,4,5)

In [ ]:
t3[0] = 100 #tuples are immutable, this will raise an error

In [ ]:
del t3[0] #tuples are immutable, this will raise an error

NameError: name 't3' is not defined

# Type casting for tuple

In [12]:
t3 = (1,2,3,4,5)
temp = list(t3)
print(temp)

[1, 2, 3, 4, 5]

In [13]:
temp.append(600)

In [ ]:
L = [1,2,3,4,5]
L = tuple(L)
print(L)