In [1]:
print("ok")

ok

In [ ]:
for i in range(1,11):
    print(i)

In [11]:
for i in range(1,11):
    print(i,"Abdullah")

1 Abdullah
2 Abdullah
3 Abdullah
4 Abdullah
5 Abdullah
6 Abdullah
7 Abdullah
8 Abdullah
9 Abdullah
10 Abdullah

In [1]:
# reversed

for i in range(11,1, -1):
    print(i)

11
10
9
8
7
6
5
4
3
2

In [15]:
# skip/jump perameter
# 2 means skip 1 number
# 3 means skip 2 number
for i in range(1,11,3):
    print(i)

1
4
7
10

In [17]:
# print numbers from string
for i in "abdullah":
    print(i)

a
b
d
u
l
l
a
h

# Nested Loops

In [25]:
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

# Exercise: print triangle coordinates

In [29]:
row = int(input("Enter number of rows: "))

for i in range(1, row+1):
    for j in range (1, i+1):
        print("_", end= " ")
    
    print("")

_
_ _
_ _ _
_ _ _ _
_ _ _ _ _

In [40]:
row = int(input("Enter number of rows: "))

for i in range(1, row+1):
    for j in range (1, i+1):
        print("*", end= " ")
    
    print("")

*
* *
* * *
* * * *
* * * * *

# Loop Control Statements
- Break
- Continue
- pass

In [ ]:
# break
for i in range(1,11):
    if i==5:
        break
    print(i)

5

In [ ]:
name = ["Alex", "Mamum", "Bappy" , "Abdullah", "Ridoy"]
for i in name:
    if i=="Abdullah":
        print(i)
        break

Alex
Mamum
Bappy
Ridoy
Abdullah

In [49]:
# Continue

for i in range(1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
# pass
for i in range(1,11):
    if i==5:
        pass
    print(i)